.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.toolbar > div {
  display: flex;
  gap: 0.5rem; /* space between buttons within a group */
}

.toolbar-light {
  background-color: #f9f9f9;
  color: #212529;
}

.toolbar-dark {
  background-color: #1e1e1e;
  color: #f5f5f5;
}

.toolbar .btn i {
  color: inherit;
}
